@media only screen {
    body {
	font-family:Verdana,Helvetica,sans-serif;
	margin:auto;
	max-width:40em;
    }

    h1 {
	border-bottom: 1px solid;
    }
}

@media print {
    body {
	max-width:none;
    }
}
